.app{
    background-image: linear-gradient(128deg, rgba(64, 61, 57, .1), rgba(255,255,255,.2));
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
    /* background-color: aqua; */
    /* width: 100%; */
    height: 100vh;
    
}
/* 
.content{
    text-align: center;
    justify-content: center;
} */

.top-content{
    /* display: inline-block */
    display: flex;
    /* flex-flow: row nowrap; */
    margin-top: 20px;
    
}

.name-box{
    /* text-align: center; */
    width: 17.25%;
    height: 100px;
    /* margin: 0 auto; */
    margin-left: 350px;
    padding: 10px;
    position: relative;
    
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0
    rgba(0, 0, 0, .1), 0 1px 2px 0 
    rgba(0, 0, 0, .2);
}

.info{
    width: 60%;
    margin-right: 0px;
    margin-top: 10px;
    float: right;
}

.pic{
    width: 30%;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
     
}

.firstName{
    width: 123px;
    /* height: 0px; */
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    
}

.lastName{
    width: 123px;
    /* height: 5px; */
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
}



.edit-button{
    width: 100px;
    height: 25px;
    background-color: #f2f2f2
}
.desc{
    /* text-align: center; */
    width: 30%;
    height: 100px;
    /* margin: 0 auto; */
    padding: 10px;
    position: relative;
    margin-left: 20px;

    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0
    rgba(0, 0, 0, .1), 0 1px 2px 0 
    rgba(0, 0, 0, .2);
}


.recommended-div{
    /* text-align: center; */
    width: 50%;
    min-height: 525px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0
    rgba(0, 0, 0, .1), 0 1px 2px 0 
    rgba(0, 0, 0, .2);

    overflow: scroll;
}

.rec-friend {
    font-size: 20px;
}

.sort-by{
    margin-left: 290px;
    font-size: 18px;
}

.rec-input{
    margin-left: 5px;
    font-size: 15px;
}




.friend-div{
    display: flex;
    width: 85%;
    height: 450px;
    overflow: scroll;
    margin-left: 50px;
    justify-content: center;
    margin-top: 20px;
}

.friend-box{
    width: 50%;
    height: 20%;
    background-color: yellow;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
}

.friend-pic-div{
    width: 33%;
    height: 100%;
    
}

.friend-pic{
    width: 100%;
    height: 100%;
}

.names{
    width: 33%;
    margin-top: 10px;

    
}

.friend-first_name{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    display: block;
}

.friend-last_name{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    
}

.add-friend{
    width: 33%
}

.add-friend-button{
    margin-top: 40%;
    margin-left: 10px;
    width: 75px;
    height: 25px;
    color: white;
    background-color: #ff9770;
    font-size: 10px;
    border-radius: 3px;
}